$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'destino/destino.scss';
@import 'destino/destinoeditar/destinoeditar.scss';
@import 'destino/destinonuevo/destinonuevo.scss';
@import 'empresa/empresa.scss';
@import 'empresa/empresaeditar/empresaeditar.scss';
@import 'empresa/empresanueva/empresanueva.scss';
@import 'externo/externo.scss';
@import 'externo/externoeditar/externoeditar.scss';
@import 'externo/externonuevo/externonuevo.scss';
@import 'idioma/idioma.scss';
@import 'idioma/idiomaeditar/idiomaeditar.scss';
@import 'idioma/idiomanuevo/idiomanuevo.scss';
@import 'main/main.scss';
@import 'matricula/matricula.scss';
@import 'matricula/matriculaeditar/matriculaeditar.scss';
@import 'matricula/matriculanueva/matriculanueva.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
