<navbar></navbar>

<div class="container">
 
  <h1>Personal Externo</h1>

  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="externo in externos">
	    <div class="user-info">
	        <strong>{{externo.name}}&nbsp;{{externo.surname}}</strong><br>
          <dd>DNI: {{externo.dni}}</dd>
          <dd ng-if="!externo.haveNumberPlate">Empresa: {{externo.company.name}}</dd>
          <dd ng-if="externo.haveNumberPlate">Matrícula: {{externo.matricula.name}}</dd>
          <dd ng-if="externo.haveNumberPlate">Empresa: {{externo.matricula.company.name}}</dd>
          <dd>Idioma: {{externo.language.name}} </dd>
	        <span class="text-muted">Información:{{externo.info}}</span>
	    </div>
	    <a ng-click="edit(externo)" class="trash"><span class="fa fa-edit fa-2x"></span></a>
        <a ng-click="delete(externo)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
        
    </li>
  </ul>
</div>