<navbar></navbar>

<div class="container">
 
  <h1>Empresas</h1>

  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="empresa in empresas">
	    <div class="user-info">
	        <strong>{{empresa.name}}</strong><br>
	        <span class="text-muted">{{empresa.info}}</span>
	    </div>
	    <a ng-click="edit(empresa)" class="trash"><span class="fa fa-edit fa-2x"></span></a>
        <a ng-click="delete(empresa)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
        
    </li>
  </ul>
</div>